body {
	background: #FFF url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;


}
input {
	border: 5px;
	width: 100px;
	padding: 10px;
	border: 2px #EEE solid;
	box-shadow: 5px 5px 25px #000;
	display: inline;
	font-size: 2em;
	font-family: serif;
	vertical-align: middle;
	text-align: center;
}

.main {
	font-family: serif;
	width: 50%;
	margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   transition: all 1s;
	 text-align: center;
}
.main h1 {
	font-size: 2em;
	color: #EEE;
	margin-bottom: 5px;
}
.main span {
	font-size: 2em;
	color: #EEE;
	margin-top: 5px;
	vertical-align: middle;
	display: inline;
}

.answer {
	visibility: hidden;
	background: rgba(255,255,255,0);
	width: 90%;
	padding: 20px;
	margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   box-shadow: 10px 10px 10px rgb(51, 51, 51);
   transition: all 2s;

}
.answer a {
	text-decoration: none;
	color: #E62E00;
}
.answer span.ergebnis {
	color: #44C;
	font-size: 2em;
	text-shadow: 0px 0px 5px #000;
	vertical-align: middle;
}

.footer {
	background-color: rgba(5,5,5,0.8);
	color: #888;
	font-size: 10px;
	padding-top: 20px;
   padding-bottom: 20px;
   width:100%;
   position: fixed;
   bottom:0;


}
.footer span.left {
	position: absolute;
	left: 15px;
	top: 15px;  /* Hoehe der Box ist 40px - Schrift hat die Größe 10px, also jeweils 15px Rand. */

}
.footer span.right {
	position: absolute;
	right: 15px;
	top: 15px;

}
.footer a {
	text-decoration: none;
	color: #AAA;
}
